
# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
# recommended to add to Git SCM
# or generate with `nodeclipse -p` command
.project
.settings/
.*.md.html


data/
tests/results/**
modules/public/
modules/views/
/public/build/
/packages/contrib/
/packages/**/**/public/assets/lib
node_modules/


# --------------------
# vim Files
# --------------------
*.swp
