<div class="container">
  <div class="div col-xs-12">
    <mat-toolbar>
      <button type="button" data-toggle="modal" data-target="#addModal"
        class="btn btn-primary col-xs-1 glyphicon glyphicon-plus">
      </button>
      <div class="all-Div col-xs-4">
        <div class=" changethisone">
          <div class=" input-group changethisone">
            <input type="text" title="חפש שם" class="form-control text-right" #search placeholder="...חפש"
              [(ngModel)]="queryIn" name="search-query-in">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-4  text-right">
        <label for="Type">סוג תורם</label>
      </div>
      <div class="col-xs-4 text-right ">
        <label for="Name">שם</label>
      </div>



    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of donorEvents.elementsToShow  | filter:queryIn:donorEvents.m_all_items:searchFor">
        <mat-expansion-panel-header dir="rtl" cols="2">
          <mat-panel-title class="col-xs-3">
            {{item.name}} {{item.lastName}}
          </mat-panel-title>
          <mat-panel-description class="col-xs-6">
            {{item.donorType}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="row">
          <div class="col-sm-4 pull-right">
            <h5>{{item.email }} :דוא"ל</h5>
            <h5>פלפון: {{item.phone}}</h5>
            <h5>מספר נוסף: {{item.homePhone}}</h5>
          </div>
          <div class="col-sm-4 pull-right">
            <h5 *ngIf="item.donorType ==='פרטי'">תאריך לידה: {{ item.birthday }}</h5>
            <h5>כתובת: {{item.address}}</h5>
            <h5 *ngIf="item.donorType ==='פרטי'">ת"ז: {{item.id}}</h5>
            <h5>תאריך תרומה: {{item.donateDate | date:"dd/MM/yyyy"}}</h5>
          </div>

        </div>
        <div class="pull-left">
          <button class="btn btn-warning" (click)="edit(item)" data-toggle="modal" data-target="#edit">עדכן</button>
          <button class="btn btn-danger" (click)="delete(item)">מחק</button>
          <button class="btn btn-info" (click)="disc(item)" data-toggle="modal" data-target="#disc">הצג</button>
        </div>
        <br>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>



<div class="modal" id="add" tabindex="-1" role="dialog" dir="rtl">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-add-donor></app-add-donor>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="edit" tabindex="-1" role="dialog" dir="rtl">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ol>
          <mat-form-field>
            <input matInput placeholder="שם" [(ngModel)]="name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <!-- <mat-form-field *ngIf="privateDonor"> -->
            <input matInput placeholder="תז של התורם" [(ngModel)]="id">
          </mat-form-field>
          <br *ngIf="privateDonor">
          <mat-form-field>
            <input matInput placeholder="תאריך לידה" type="date" [(ngModel)]="birthday">
          </mat-form-field>
          <br *ngIf="privateDonor">
          <mat-form-field>
            <input matInput placeholder="כתובת" [(ngModel)]="address">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="מספר פלפון" [(ngModel)]="phone">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="מספר נוסף" [(ngModel)]="extraphone">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="דוא'ל" [(ngModel)]="email">
          </mat-form-field>
          <br>

          <mat-form-field>
            <textarea matInput placeholder="פרטים נוספים" [(ngModel)]="description"></textarea>
          </mat-form-field>
          <br>
          <button mat-raised-button (click)="save()" data-dismiss="modal">שמור</button>
          <button class="btn btn-info" data-toggle="modal" data-target="#addamount" >הוספת תרומה</button>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addamount" tabindex="-1" role="dialog" dir="rtl">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ol>
          <mat-form-field>
            <input matInput placeholder="סכום התרומה החדש" [(ngModel)]="newAmount">
          </mat-form-field>
          <mat-form-field>
            <input type="date" matInput placeholder="תאריך התרומה" [(ngModel)]="newAmountDate">
          </mat-form-field>
          <button mat-raised-button (click)="saveNewAmount()" data-dismiss="modal">שמור</button>

        </ol>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addModal" tabindex="-1" role="dialog" dir="rtl">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-add-donor></app-add-donor>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="disc" tabindex="-1" role="dialog" dir="rtl">
  <div class="modal-dialog modal-dialog-centered" role="document" style="padding: -50px;">
    <div class="modal-content">
      <div class="modal-body">
        <b>
          <h4>הערות:</h4>
        </b>
        {{description}}
        <br>
        <hr>
        <b>
          <h4>סכומי התרומה:</h4>
        </b>
        <div class="container" *ngFor="let item of donate">
          סכום:{{item.donateAmount}} בתאריך: {{item.donateDate | date:'yyyy-MM-dd'}}
          <br>
        </div>
        <hr>
        <!-- <button class="btn btn-info" data-toggle="modal" data-target="#events" data-dismiss="modal">כל האירועים</button> -->

        <b>
          <h4>כל האירועים </h4>
          
        </b>

        <div *ngFor="let item of hisEvent">
          <div class="row">
            <div class="col-sm-4">
              הערות: {{item.description}}
            </div>
            <div class="col-sm-4">
              תאריך האירוע: {{item.date | date:'yyyy-MM-dd'}}
            </div>
            <div class="col-sm-4">
              שם האירוע: {{item.name}}
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal" id="events" tabindex="-1" role="dialog" dir="rtl">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-events-list></app-events-list>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <ul class="pager">
    <li [class]="donorEvents.pdisabled" (click)="donorEvents.ChangePage(donorEvents.previousPage)">
      <a>Previous</a>
    </li>

    <ul class="pagination custom_pegnation">
      <li *ngFor="let item of donorEvents.Pages;index as i" [ngClass]="{'active':donorEvents.CurrentPageNumber == i}"
        (click)="donorEvents.ChangePage(i)">
        <a>{{donorEvents.Pages[i]}}</a>
      </li>
    </ul>

    <li [class]="donorEvents.ndisabled " (click)="donorEvents.ChangePage(donorEvents.nextPage)">
      <a>Next</a>
    </li>
  </ul>
</div>