<div class="container">


    <div class="col-xs-12">
        <mat-toolbar>
            <button type="button" *ngIf="router.url != '/Header/main'" data-toggle="modal" data-target="#addModal"
                class="btn btn-primary col-xs-1   	glyphicon glyphicon-plus"></button>
            <div class="all-Div col-xs-4">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="date" (change)="update(thisdate)" #thisdate class="date-time form-control"
                        [(ngModel)]="DateQuery" name="search-query-in">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                </div>
            </div>

            <div class="col-xs-4  text-right">
                <label for="ID">תאריך</label>
            </div>
            <div class="col-xs-4 text-right ">
                <label for="Name">שם האירוע</label>
            </div>

        </mat-toolbar>

        <mat-accordion>
            <mat-expansion-panel
                *ngFor="let event of this.eventService.elementsToShow | filter:DateQuery:this.eventService.generalEvents:searchFor; index as i">
                <mat-expansion-panel-header dir="rtl" cols="2">

                    <mat-panel-title class="col-xs-3">
                        {{event.name}}
                    </mat-panel-title>
                    <mat-panel-description class="col-xs-6">
                        {{event.date | date:'dd/MM/yyyy'}}
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-nd-8  text-center">
                        <div class="alert alert-info">
                            <strong>{{event.description}}</strong>
                        </div>
                    </div>
                    <div>
                        <div class="all-Div col-xs-4 col-xs-offset-2">
                            <div class="row">
                                <div class="text-center">
                                    בעלי עניין
                                </div>
                            </div>
                            <div class="form-group changethisone">
                                <div class=" input-group changethisone">
                                    <input type="text" title="חפש שם" class="form-control text-right"
                                        placeholder="...חפש" [(ngModel)]="this['queryIn'+ i]" name="search-query-in">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                </div>
                                <div class=" pre-scrollable">

                                    <div class="col-xs-10"
                                        *ngFor="let person of event.didntArrived  | filter:this['queryIn'+ i]:event.didntArrived:searchFor"
                                        (click)="addToList(person,i)" (mouseover)="hover=true"
                                        (mouseleave)="hover=false">
                                        {{ person.name }}
                                        <span class="glyphicon glyphicon-arrow-right pull-right text-success"
                                            [ngStyle]="{opacity: hover==true ? '1' : '0'}">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="selected-Div col-xs-4">
                            <div class=" form-group">
                                <div class="row">
                                    <div class="text-center">
                                        קיבלו
                                    </div>
                                </div>
                                <div class=" input-group changethisone">
                                    <input type="text" title="חפש שם" class="form-control text-right"
                                        placeholder="...חפש" [(ngModel)]="queryOut" name="search-query-out">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                </div>
                                <div class=" pre-scrollable">
                                    <div class=" col-xs-10 "
                                        *ngFor="let person of event.arrived | filter:queryOut:event.arrived:searchFor"
                                        (click)="delFromList(person,i)" (mouseover)="hover=true"
                                        (mouseleave)="hover=false">
                                        {{ person.name }}
                                        <span class="glyphicon glyphicon-arrow-left pull-left text-danger"
                                            [ngStyle]="{opacity: hover==true ? '1' : '0'}">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                        *ngIf="router.url != '/Header/main'" (click)="arrayOfPersons(i)"
                        data-target="#editModal">עדכן</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" (click)="index(i)"
                        data-target="#exampleModalCenter">מחק</button>

                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <p class="text-muted pull-left">page: {{eventService.CurrentPageNumber+1}}</p>
    </div>
</div>

<div class="container">
        <ul class="pager">
                <li [class]="eventService.pdisabled" (click)="eventService.ChangePage(eventService.previousPage)">
                        <a>Previous</a>
                </li>
                
                <ul class="pagination">
                        <li *ngFor="let item of eventService.Pages;index as i" (click)="eventService.ChangePage(i)">
                                <a>{{eventService.Pages[i]}}</a>
                        </li>
                </ul>

                <li [class]="eventService.ndisabled " (click)="eventService.ChangePage(eventService.nextPage)">
                        <a>Next</a>
                </li>
        </ul>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-add-event></app-add-event>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" #closeAddExpenseModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                {{name}}
            </div>
            <div class="modal-body">
                <div class="col-xs-10 col-xs-offset-1  text-center btn-primary">
                    מידע על האירוע
                </div>
                <form (ngSubmit)="onEditEvent(back)" #form>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <div class="customDiv ">
                                <div class="pull-right">
                                    <span class="pull-right">שם האירוע</span>
                                    <span class="text-danger ">*</span>
                                </div>
                                <input type="text " placeholder="שם" value="{{name}}" dir="rtl"
                                    class="col-xs-6  pull-right small form-control" required #nameInput>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <div class="customDiv">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <div class="customDiv">
                                <div class="pull-right">
                                    <span class="pull-right " dir="rtl">תאריך האירוע</span>
                                    <span class="text-danger">*</span>
                                </div>`

                                <input type="date" value="{{m_date | date:'yyyy-MM-dd'}}"
                                    class="col-xs-6 pull-right date-time form-control" required #dateInput>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <div class="customDiv">
                                <div class="col-xs-3 pull-right">
                                    <span class="pull-right" dir="rtl">פרטים</span>
                                </div>
                                <textarea class="col-xs-6 pull-right form-control" value="{{description}}"
                                    id="description" rows="3" dir="rtl" #descriptionInput></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="h3 text-center btn-primary col-xs-10 col-xs-offset-1">
                                בחר בעלי עניין</div>
                        </div>
                        <div class="row">
                            <div class="all-Div col-xs-4 col-xs-offset-2">
                                <div class="row">
                                    <div class="text-center">
                                        כל הרשימה
                                    </div>
                                </div>
                                <div class="form-group changethisone">
                                    <div class=" input-group changethisone">
                                        <input type="text" title="חפש שם" class="form-control text-right"
                                            placeholder="...חפש" [(ngModel)]="queryIn" name="search-query-in">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                    </div>
                                    <div class=" pre-scrollable">
                                        <div class="col-xs-10"
                                            *ngFor="let item of relevant_persons_to_event  | filter:queryIn:relevant_persons_to_event:searchFor"
                                            (click)="addToRelativeList(item,i)" (mouseover)="hover=true"
                                            (mouseleave)="hover=false">
                                            {{ item.name }}
                                            <span class="glyphicon glyphicon-arrow-right pull-right text-success"
                                                [ngStyle]="{opacity: hover==true ? '1' : '0'}">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="selected-Div col-xs-4">
                                <div class=" form-group">
                                    <div class="row">
                                        <div class="text-center">
                                            בעלי עניין
                                        </div>
                                    </div>
                                    <div class=" input-group changethisone">
                                        <input type="text" title="חפש שם" class="form-control text-right"
                                            placeholder="...חפש" [(ngModel)]="queryOut" name="search-query-out">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                    </div>
                                    <div class=" pre-scrollable">
                                        <div class=" col-xs-10 "
                                            *ngFor="let item of m_relatedTo | filter:queryOut:m_relatedTo:searchFor"
                                            (click)="delFromRelativeList(item,i)" (mouseover)="hover=true"
                                            (mouseleave)="hover=false">
                                            <div class="pull-right ">{{ item.name }} </div>
                                            <span class="glyphicon glyphicon-arrow-left pull-left text-danger"
                                                [ngStyle]="{opacity: hover==true ? '1' : '0'}">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer ">
                        <div class="row text-center">
                            <button type="button" class="btn btn-secondary" #back data-dismiss="modal">חזור</button>
                            <button type="submit" class="btn btn-primary">שמור</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ? למחוק את האירוע
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">לא</button>
                <button type="button" class="btn btn-primary" (click)="removeEvent()" data-dismiss="modal">כן</button>
            </div>
        </div>
    </div>
</div>