.row{
cursor: pointer;
}

.font{
    font-weight: bold;
}
.pre-scrollable{
    max-height: 100px;
}

.no-border {
    border: 0;
    box-shadow: none;
}
.pager {
    margin: 0;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    top: -10px;
    border: none;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.active{
    background:#ddd;
}
.pager li a
{
    border : none;
}
.custom_pegnation li a
{
    border-top: none;
    border-bottom: none;
    border-radius: 100px;
    margin: 0px 10px;
}
.pagination li{
   
    
    /* border-left :1px gray solid; */
    /* border-right :1px gray solid; */
}
.pagination {
    margin: 0px;
    padding: 0px;
}