<div class="container">
  <br>
  <ul class="nav nav-pills">
      
          
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Header/donor/donorEvent']" [ngClass] = "{'active':eventService.clicked == 'mainList'}" (click)="onclick()">רשימת אירועים</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Header/donor/donorList']" [ngClass] = "{'active':eventService.clicked == 'donor_list'}" (click)="change_color()">רשימת תורמים</a>
    </li>
  </ul>
  <br>
  <hr>
</div>

<router-outlet></router-outlet>