<div class="container ">



  <br>

  <ul class="nav nav-pills">

    <li class="nav-item">
      <a class="nav-link" [ngClass] = "{'active':eventService.clicked == 'mainList'}" (click)="onclick()">רשימת האירועים</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Header/volenteer/VolunteersList']" [ngClass] = "{'active':eventService.clicked == 'volunteer_list'}" (click)="change_color()">רשימת המתנדבים</a>
    </li>
  </ul>
  <br>
  <hr>
</div>

<router-outlet></router-outlet>

<!-- <app-create-vol *ngIf="addVol"></app-create-vol>
<app-vol-list *ngIf="VolList"></app-vol-list>
<app-event *ngIf="eventList"></app-event> -->