<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title text-center">
        <span class="text-right">עדכון משתמש קיים</span>
        <button type="button text-left" #exit class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </h3>
    </div>
    <div class="modal-body">
      <div class="row" dir="rtl">
        <div class="col-sm-12" id="cont1" dir="rtl">
          <form #f="ngForm" (ngSubmit)="onSumbit(f,Vper.checked,Dper.checked,Aper.checked,Freeze.checked,exit)">
            <div class="row" dir="rtl">
              <div class="col-sm-8 pull-right" id="formdiv">
                <table class="table table-sm" dir="rtl">
                  <tr>
                    <td>
                      <label for="name" id="label">שם</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="name" [ngModel]="userService.UserEditing.name" value="" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="phone" id="label">תלפון</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="tel" class="form-control" ngModel name="phone" [ngModel]="userService.UserEditing.phone" value="" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="email" id="label">אי-מייל</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="email" [ngModel]="userService.UserEditing.email" value="" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="username" id="label">שם משתמש</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="username" [ngModel]="userService.UserEditing.username" disabled value=""
                          required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="password" id="label">סיסמה</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="password" [ngModel]="userService.UserEditing.password" value="" required>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-4 text-center" dir="rtl">
                <br>
                <br>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <mat-checkbox [checked]="userService.UserEditing.VolPer" #Vper>הרשאה למתנדבים</mat-checkbox>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <mat-checkbox [checked]="userService.UserEditing.DonorPer" #Dper>הרשאה לתורמים</mat-checkbox>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <mat-checkbox [checked]="userService.UserEditing.AdoptPer" #Aper>הרשאה למאומצים</mat-checkbox>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <mat-checkbox [checked]="userService.UserEditing.Freeze" #Freeze>להקפיא חשבון</mat-checkbox>
                  </div>
                </div>
                <br>
                <br>
              </div>
            </div>
            <div class="modal-footer">
              <input name="Submit" [disabled]="!f.valid" type="submit" value="שמור" class="btn btn-primary">
              <button type="button" class="btn btn-danger" data-dismiss="modal">סגור</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>